{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current" // Target your current Node.js version
        },
        "modules": false //
      }
    ]
  ]
}
